body{
    background-color: whitesmoke;
    align-items: center;

}
h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 200%;
    color: rgb(46, 102, 255);

}
form{
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 10% 12% 0% 57%;
    background-color: white;
}
div{
    float: left;
    margin: 0 50% 0 10%;
    font-size: 180%;
}
.b1{
    background-color: #0158d1;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: 90%;


}
.b2{
    background-color: rgb(34, 162, 51);
color: white;
border: 10px solid rgb(34, 162, 51);
border-radius: 5px;
font-size: 20px;
}
.footer{
    float: right;
    margin: 2% 15% 0 0;
}
input{
    border: 1px solid lightGray;
    border-radius: 4px;
    width: 85%;
    padding: 12px;

}